html{
    height: 100%;
}
body{
    position: relative;
    height: 100%;
    margin: 0;
}
.bg-holder{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.gimn{
    position: relative;
    z-index: 10;
    padding-top: 30px;
}
.gimn-btn{
    display: block;
    margin: 0 auto;
    border: 0;
    font-weight: 900;
    color: #cd0a01;
    border-radius: 2px;
    font-size: 16px;
    height: 30px;
    width: 100px;
    background: #e1f42a;
    transition: .3s;
}
.gimn-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(225 244 42 / 90%);
}